# dependencies
node_modules/
.pnpm-store/

# next / build
.next/
out/
dist/
build/
*.tsbuildinfo

# turbo
.turbo/

# env / secrets
.env
.env.*
!.env.example

# docker volumes / data
**/pgdata/
**/redis-data/
**/meili-data/
infra/**/data/

# testing / coverage
coverage/
playwright-report/
test-results/
.lighthouseci/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
